* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color:blue;
    color: #fff;
    margin-top: 20px;
}
        
p {
    color:rgb(255, 255, 255);
}

a {
    display: inline-block;
    background-color: sienna;
    color: #eef302;
    text-decoration: none;
    border-radius: 10px;

/* Margem Interna - 1 valor pega em todas direções - 2 primeiro vertical, segundo horizontal */
    padding: 10px 20px;
/* Margem Externa */
    margin: 20px;
/*tipo, espessura, cor */
    border: solid, 5px, #ff0000;
}

a:hover {
    background-color: green;
    transition: 0.3s ease-in-out;
}

div {
    background-color: blueviolet;
    height: 100px; /* Altura */
    width: 50%; /* Largura -  % relativo ao tamanho do pai, nesse caso o body*/
}

/* id-class.html (id - identifica 1 único elemento)(class - mesmo comportamento para mais de 1 item)*/
#produtos {
    width: 100%;
    background-color: #fff;
    padding: 50px;
    height: auto;
    display: flex;
    gap: 25px; /*Uma distância*/
}

#card-prod {
    width: 200px;
    /*border: solid 1px #c1c1c1;*/
    height: auto;
    background-color: #1f04e7;
    border-radius: 10px;
}

#card-prod:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s ease-in-out;
}

#box-image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    
}

#box-image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: contain;
}

#card-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#card-prod h1 { /* Especifica apenas os h1 dentro dessa id*/
    font-size: 18px;
}

#card-prod h1, #card-prod p {
    color: #fff;
    text-align: center;
}

#btn-card {
    width: 80%;
    margin: 10px 10% 10px 10%; /*Cima, direita, baixo esquerda*/
    border-radius: 100px;
    padding: 5px 0; /*Cima baixo, direita esquerda*/
}

#btn-card:hover {
    background-color: #f85d04;
    color: #fff;
    transition: 0.5s;
    width: 90%;
    margin: 10px 5% 10px 5%;
}